<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Clicker Application</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/clicker.css">
</head>
<body>

<nav class="navbar-inverse navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Clicker</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#"> Home <span class="sr-only">(current)</span></a></li>
                <li><a href="#">Link</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li class="divider"></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">End Polling</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row col-md-offset-2 col-md-8">
        <div class="panel panel-default">
            <div class="panel-body">
				<form action="" method="POST" role="form">
					<legend>Multiple Choice Question</legend>
				
					<div class="form-group">
						<label for="question">Question</label>
						<textarea class="form-control" rows="3" name="question" id="question" placeholder="Input..."></textarea>
					</div>

                    <label>Options</label>

                    <div class="form-group">
                        <div class="col-sm-1">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="ac">
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-11">
                            <div class="checkbox">
	                            <input type="text" class="form-control" name="opA" id="opA" placeholder="Option A">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-1">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="bc">
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-11">
                            <div class="checkbox">
                                <input type="text" class="form-control" name="opB" id="opB" placeholder="Option B">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-1">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="cc">
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-11">
                            <div class="checkbox">
                                <input type="text" class="form-control" name="opC" id="opC" placeholder="Option C">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-1">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="dc">
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-11">
                            <div class="checkbox">
                                <input type="text" class="form-control" name="opD" id="opD" placeholder="Option D">
                            </div>
                        </div>
                    </div>

                    <input type="hidden" value="{{ mode }}" name="mode">
					<button type="submit" class="btn btn-primary">{{ btn }}</button>
				</form>
            </div>
        </div>
    </div>
</div>

</body>
<script src="/static/js/jquery-2.1.3.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
</html>